*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}


/* Header section */
.page-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
}

img {
    height: 2rem;
    width: 2rem;
}

header {
    background-color: aqua;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 2em;
}

.search-container {
    display: flex;
    gap: 1em;
    align-items: center;
}


#search {
    background-color: lightgrey;
    border-radius: 20px;
    border: none;
    height: 25px;
    display: flex;
    flex: 1;
}

.notifications {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.user {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}


.user-greeting {
    display: flex;
    gap: 1em;
    align-items: center;
    font-weight: bold;

}

.user-greeting  p:nth-child(2) {
    font-size: 1.5rem;
}

.user-greeting > img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.user-buttons {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
   
}


.user-buttons > button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 20px;
    border: none; 
}

.notifications, .user-buttons {
   padding: 0 3em;
}


/* Nav section */

.menu-container {
    grid-area: 1 / 1 / -1 / 1;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: bold;
    gap: 3em;
    padding: 1em;
}

.top-menu {
    display: flex;
    flex-direction: column;
    gap: 1.75em;
}

.top-menu-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bottom-menu-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.top-menu > div, 
.top-menu-container > div,
.bottom-menu-container > div { 
    display: flex;
    gap: 1em;
}



.main-container {
    grid-area: 2 / 2 / -1 / -1;
}