*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --header-background-color: #f0f9ff;
    --header-icon-hover-color: invert(90%) sepia(0%) saturate(0%) hue-rotate(228deg) brightness(95%) contrast(90%);
    --nav-background-color: #67e8f9;
    --nav-font-color: white;
    --nav-icon-color: invert(100%) sepia(4%) saturate(3392%) hue-rotate(225deg) brightness(105%) contrast(103%);
    --main-background-color: #bae6fd;
    --main-card-background-color: #f0f9ff;
    --main-card-border-color: #0284c7;
    --box-shadow-color: hsl(0deg 0% 0% / 0.41);

}

body {
    width: 100%;
    height: 100%;
}


/* Header section */
.page-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.75fr repeat(3, 1fr);
}

img {
    height: 2rem;
    width: 2rem;
}

.header-container {
    background-color: var(--header-background-color);
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 2em;
    box-shadow: 2px -2px 8px var(--box-shadow-color);
    z-index: 1;
}

.search-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.search-label:hover,
.noti-bell:hover {
    cursor: pointer;
    filter: var(--header-icon-hover-color);
}

#search {
    background-color: lightgrey;
    border-radius: 20px;
    border: none;
    height: 25px;
    display: flex;
    flex: 1;
}

.notifications {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    
}

.user {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}


.user-greeting {
    display: flex;
    gap: 1em;
    align-items: center;
    font-weight: bold;
}

.user-greeting p:nth-child(2) {
    font-size: 1.5rem;
}

.user-greeting>img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.user-buttons {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;

}


.user-buttons>button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
}

.notifications,
.user-buttons {
    padding: 0 3em;
}


/* Nav section */

.menu-container {
    grid-area: 1 / 1 / -1 / 1;
    background-color: var(--nav-background-color);
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: bold;
    gap: 3em;
    padding: 1em;
}

.menu-container {
    color: var(--nav-font-color);

}

.menu-container img {
    filter: var(--nav-icon-color);
}


.top-menu {
    display: flex;
    flex-direction: column;
    gap: 1.75em;
}

.top-menu-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bottom-menu-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.top-menu div:nth-child(1),
.top-menu-container>div,
.bottom-menu-container>div {
    display: flex;
    align-items: center;
    gap: 1em;
    transition: all 0.2s ease-in-out;
}

.top-menu-container>div:hover,
.bottom-menu-container>div:hover,
.menu-icon:hover {
    cursor: pointer;
    transform: scale(1.05);
}


/* Main section */
.main-container {
    box-shadow: 2px -2px 6px var(--box-shadow-color);
    grid-area: 2 / 2 / -1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr auto;
    padding: 1.5em;
    gap: 1.5em;
    font-size: 0.9rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    gap: 1.75em;
}

.projects>div {
    background-color: var(--main-card-background-color);
    height: 200px;
    border-radius: 8px;
    border-left: 0.5rem solid var(--main-card-border-color);
    box-shadow: 2.8px 5.6px 5.6px var(--box-shadow-color);
}

.side-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.announcements-container,
.trend-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.announcement-content,
.trend-content {
    box-shadow: 2.8px 5.6px 5.6px var(--box-shadow-color);
    border-radius: 8px;
    background-color: var(--main-card-background-color);
    width: 300px;
    height: 100%;
}